<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <h1>Products</h1>
        <ul>
            <% for(let product of products){ %>
                <li><a href='/product'><%=product.getName()%></a></li>
                <ul>
                    <li>Price:<%=product.getPrice()%></li>
                    <li>Description:<%=product.getDescription()%></li> 
                      
                 </ul>
            <%} %>
        </ul>
       <a href="/product"><button>Add to Cart</button></a>
    </body>
</html>