<!DOCTYPE html> 
<html lang='en'>
 <head>
    <link href="<%= hour>=6&&hour<=18?'/css/day.css':'/css/night.css'%>" rel="styleheet"/>
 <meta charset="utf-8">
 <title>Current time</title>
 </head>
 <body>
 This page was loaded at <%= time %>
 </body>
</html