.container {
    display: grid;
    grid-template-areas: 
       'some text text'
       'some here there';
    border: 2px solid black;
    /* justify-content: center
     */
       align-items: center;
}
div {
    min-height: 100px;
    width: 200px;
}
.some {
    grid-area: some;
    background-color: blue;
}
.text{
    grid-area: text;
    background-color: blueviolet;
}
.here{
    grid-area: here;
    background-color: burlywood;
}
.there {
    grid-area: there;
    background-color: bisque;
}